<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/styles.css">
    <title>Dermalyze</title>
</head>
<body>
    <nav class = "navbar">
        <img class="Logo" src = "/pics/Logo.png" alt="Logo">
        <button class="button" type="button">Analiziraj</button>
    </nav>
    <div class="hero-section">
        <div class = "hero-left">
            <h2 class="hero-title">AI alat za jednostavnu i brzu dijagnozu kožnih problema</h2>
            <h3 class="hero-sub">Podrška u ranoj identifikaciji kožnih oboljenja pomoću AI</h3>
        </div>
        <img class="hero-img" src = "/pics/hero.png" alt="hero">
    </div>
</body>
</html>